<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="FILE_APPENDER" class="ch.qos.logback.classic.sift.SiftingAppender">
 
         <discriminator>
			<key>logFile</key>
			<defaultValue>api-log</defaultValue>
		  </discriminator>
 
		  <sift>
			<appender name="FILE-${logFile}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<layout class="ch.qos.logback.classic.PatternLayout">
					<Pattern>%d{MMM-dd-yyyy HH:mm:ss} [%level] %logger{36} - %msg%n
					</Pattern>
				</layout>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>../logs/${logFile}.%d{yyyy-MM-dd}.log</fileNamePattern>
					<maxHistory>60</maxHistory>
				</rollingPolicy>
				
				<!--rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<FileNamePattern>../logs/rest-api.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
					<MinIndex>1</MinIndex>
					<MaxIndex>100</MaxIndex>
				</rollingPolicy>
		
				<triggeringPolicy
					class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<MaxFileSize>2GB</MaxFileSize>
				</triggeringPolicy-->
			</appender>
		</sift>
	</appender>
	
	<!--logger name="com.pack.pack.services" level="debug" /-->
	
	<logger name="com.pack.pack" level="trace" />

	<logger name="packpack">
		<level value="trace" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="FILE_APPENDER" />
	</root>

</configuration>